.header{
    display: flex;
    justify-content: space-between;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    background-color: #0067A3;
    padding: 5px 10px;
}
@media all and (max-width:450px) {
    .header{
        display:block;
        padding-left: 75%;
    }
    .header span {
        display:none;
    }
}