.fullSizeMain{
    background-color: #0079BF;
    box-sizing: border-box;
    padding: 15px;
}
.fullSizeMain-wrapper{
    background-color: white;
    border-radius: 5px;
    padding: 0 15px;
}
.fullSizeMain-container{
    display:flex;
    justify-content: space-between;  
}
.cross-button{
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;
    margin: 6px;
    cursor: pointer;
}
.detail-information-section{
    width:60%;
    text-align: left;
    cursor:url('../../../public/logo/free-icon-font-attribution-pencil-9291596.png'),auto;
    padding: 10px;
    overflow-wrap: anywhere;
}
