.columnbottom-input{
    border: none;
    border-radius: 2px;
    padding: 5px 7px 1px 0px;
    border-bottom: 1px solid rgb(41, 40, 39);
    outline: 5px solid white;
    width: 145px;
    margin: 5px 0px 15px 5px;
}
.columnbottom-section{
    border: none;
    border-radius: 2px;
    padding: 5px 7px 1px 0px;
    border-bottom: 1px solid rgb(41, 40, 39);
    outline: 5px solid rgb(255, 255, 255);
    margin: 5px 5px 15px 5px;
}
.columnbottom-option{
    line-height: 30px;
    background-size: 30px;
}
.columnbottom-option:nth-child(2n-1){
    background: #EBECF0;
}